.project_header {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background: linear-gradient(to right, #000000, #008B8B);
    padding-bottom: 10px;
    padding-top: 10px;
}

.project_header .site-title{
  font-size: 30px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.project_header .site-description{
  font-size: 12px;
  text-align: center;
  color: #fff;
  display: block;
}

.text_box{
    width: 80%;
    margin: auto;
}
